.dashboard-admin h2 {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 20px 0;
    color: #555;
}


/* Base */
.card-tarea {
    border-left: 5px solid #ccc;
}

.state-tomada {
    border-left: #a9a8a7 solid 5px !important;
}

.state-aprobada {
    border-left: #3ea44c solid 5px !important;
}

.state-pendiente-aprobacion {
    border-left: #d5bd33 solid 5px !important;
}

.state-no-cumplida {
    border-left: #dc3545 solid 5px !important;
}

.dashboard-admin .actions-button{
 font-size: 0.8rem;
 
}
.dashboard-admin .actions-button:hover{
 text-decoration: underline;
 
}
